@media (min-width: 1280px) and (max-width: 1439px) {
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 40%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:65%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 45%; }
	
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 68%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 78%; }
}
@media (min-width: 1168px) and (max-width: 1279px) {
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 40%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:65%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 45%; }

	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 40%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 63%; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 74%;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 40%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 72%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 58%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 84%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 26%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 50%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 63%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 74%; }
}
@media (min-width: 1024px) and (max-width: 1167px) {
	.topWrap .logo img { height: 45px; }

	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 45%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:60%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 30%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 30%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 45%; }

	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 40%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 67%; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 78%;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 40%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 72%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 58%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 84%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 35%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 60%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 71%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 83%; }
}
@media (min-width: 800px) and (max-width: 1023px) {
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 42%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:65%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 25%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 42%; }

	.sliderHomeBullets.slider_alias_15 .imageBlock,
	.sliderHomeBullets.slider_alias_15 .textBlock,
	.sliderHomeBullets.slider_alias_15 .order { width: 100%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 20%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 78%;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 10%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 59%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 40%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 78%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 6%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 46%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 78%; }
}
@media (min-width: 480px) and (max-width: 799px) {
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 40%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:65%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-2 .textBlock { top: 28%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-2 .textBlock .title { line-height: 120%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 18%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { width: 6%; top: 18%; margin-left:-3%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 40%; }

	.sliderHomeBullets.slider_alias_15 .imageBlock,
	.sliderHomeBullets.slider_alias_15 .textBlock,
	.sliderHomeBullets.slider_alias_15 .order { width: 100%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 20%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 78%;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 10%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 59%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 40%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 78%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 6%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 46%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 78%; }

	.contactFooter .contactShare ul li a span, .contactFooter .contactShare ul li a { background-position: 0 -48px; }
	.contactFooter .contactShare ul li a span {  background-position: 0 0; }
}
@media (max-width: 479px) {
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 42%; line-height: 140%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:70%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-2 .textBlock { top: 40%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-2 .textBlock .title { line-height: 120%; }
	.fullScreenSlider .sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 20%; }
	
	.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 20%; }
	.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 40%; }

	.sliderHomeBullets.slider_alias_15 .imageBlock,
	.sliderHomeBullets.slider_alias_15 .textBlock,
	.sliderHomeBullets.slider_alias_15 .order { width: 100%;}
	.sliderHomeBullets.slider_alias_15 .order a { font-size: 2em; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 10%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock img { height: 14%;}
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 78%;  }
	.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text div { font-size: 2em;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 10%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock img { height: 8%;}
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 45%; }
	.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text div { font-size: 1.5em;  }
	.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 78%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 6%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock img { height: 8%;}
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 48%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 62%; }
	.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text div { font-size: 1.2em;  }
	.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 78%; }

	.contactFooter .contactShare ul li a span, .contactFooter .contactShare ul li a { background-position: 0 -32px; }
	.contactFooter .contactShare ul li a span {  background-position: 0 0; }
}
